{% if product.metafields.custom_fields["small_wrist_size"] != blank %}
  <div class="custom-field custom-field__small-wrist-size custom-field__type--integer">
    <h3 class="custom-field--title">Small Wrist Size</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["small_wrist_size"] }}
    </div>
  </div>
{% endif %}