@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
}

.body {
  max-width: 960px;
  margin: auto;
  padding: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-alert {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.96);
  color: white;
  font-size: normal;
  padding: 15px 0;
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  gap: 15px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 49px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.96);
  width: 100%;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .nav {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);  
  }
  .nav-alert {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px); 
  }
  .product div:hover .product-details {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }

}

.logo {
  height: 100px;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  position: relative;
/*   justify-content: center; */
  z-index: 2;
}

.nav-menu-item, .nav-menu-item-with-children{
  margin: 0 30px;
  padding:  5px;
  font-size: .9rem;
}

.nav-menu-child {
  font-size: .9rem;
  padding: 5px;
}

.nav-menu-item-with-children {
  position: relative;
}

.dropdown-container {
  display: none;
}

.nav-menu-item-with-children:hover .dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
/*   left: calc(960px / -2); */
/*   left: 0; */
/*   margin-top: 27px; */
/*   background-color: white; */
/*   width: 100vw; */
/*   z-index: 2; */
}

.section-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0 30px;
}

.section-heading {
  text-transform: uppercase;
  letter-spacing: .2rem;
  /*   text-align: center; */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: clamp(15px, 1rem, 30px);
  justify-content: center;
  justify-items: center;
}

.product {
  position: relative;
}

.product-image {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  /*   height: clamp(150px, 100%, 270px); */
}

.product-details {
  position: absolute;
  top: 0;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  /*   height: clamp(150px, 100%, 300px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  transition: 0.2s;
  opacity: 0;
  gap: 15px;
  padding: 15px;
}

.product div:hover .product-details {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.9);
}

.product-name {
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.product-price {
  margin: 0;
}

/* PRODUCT PAGE */
.product-back {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.product-product {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 60px;
}

.product-product-images-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-featured-image {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.product-product-images {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.product-product-image {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.product-product-details-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.product-product-details-container p {
  margin: 0;
  font-size: smaller;
}

.product-product-title {
  margin: 0;
}

#price {
  margin: 0;
  font-size: 16px;
}

.product-options-action-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: auto;
  font-size: smaller;
}

.product-options {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.product-wrist-size {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
  font-size: smaller;
  margin-top: auto;
}

.product-wrist-size-input {
  border: 1px solid darkgray;
  font-family: "Montserrat", sans-serif;
  height: 56px;
  text-align: center;
}

.size-guide-button {
  margin-top: auto;
  height: 60px;
  background-color: darkgray;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.product-variant {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-variant-select {
  height: 60px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid darkgray;
  font-family: "Montserrat", sans-serif;
}

.product-quantity {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-quantity-input {
  height: 56px;
  width: 60px;
  text-align: center;
  border: 1px solid darkgray;
}

.product-quantity label {
  font-size: smaller;
}

.product-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  border: none;
  min-width: 120px;
  height: 60px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 15px;
}

.cart-heading {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 400;
  margin: 0;
}

.cart-table {
  display: flex;
  flex-direction: column;
}

.cart-table-heading {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  padding-bottom: 15px;
  border-bottom: 1px solid darkgray;
  gap: 30px;
}

.cart-item-heading {
  flex: 6;
}

.cart-original-price-heading {
  flex: 2;
}

.cart-quantity-heading {
  flex: .5;
  text-align: center;
}

.cart-price-heading {
  flex: 2;
  text-align: right;
}

.cart-table-entry {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  align-items: center;
  border-bottom: 1px solid darkgray;
  gap: 30px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  flex: 6;
  align-items: center;
  gap: 30px;
}

.remove-item {
  padding: 10px;
  background-color: white;
  /*   border: 1px solid darkgray; */
}

.cart-item-link {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.cart-item-image {
  object-fit: cover;
}

.cart-item-name-variant-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item-name {
  flex: 1;
  font-weight: bolder;
}

.cart-original-price {
  flex: 2;
}

.cart-quantity {
  flex: .5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-quantity-input {
  width: 60px;
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid darkgray;
}

.cart-price {
  flex: 2;
  text-align: right;
}

.cart-subtotal-entry {
  display: flex;
  flex-direction: row;
  padding: 60px 0 0;
}

.cart-subtotal-name {
  flex: 6;
  text-align: right;
}

.cart-subtotal-price {
  flex: 1;
  text-align: right;
}

.cart-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-checkout,
.update-cart {
  align-self: flex-end;
  padding: 22px;
  background-color: black;
  color: white;
  min-width: 200px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border: none;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.update-cart {
  background-color: gray;
  cursor: pointer;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  font-weight: bolder;
}

.empty-cart img {
  padding-right: 60px
}

.empty-cart span {
  font-weight: normal;
}

.size-guide-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: black;
  color: white;
  align-items: center;
  padding: 30px 30px 0;
}

.size-guide-animation-container {
  flex: 1;
}

.size-guide-animation {
  height: 500px;
  object-fit: cover;
}

.size-guide-description {
  flex: 1;
}

li {
  margin-bottom: 15px;
}



@media only screen and (max-width: 768px) {
  .nav-alert {
    font-size: smaller;
    padding: 10px 0;
  }

  .nav {
    top: 36px;
    gap: 10px;
    padding-bottom: 15px;
  }

  .size-guide-container {
    padding: 15px 15px 0;
    gap: 0;
  }

  .section-heading-container {
    margin-top: 30px;
    margin-bottom: 0;

  }

  main section {
    padding: 0 15px;
  }

  .product-grid {
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .product-image {
    width: clamp(150px, 100%, 300px);
    height: clamp(150px, 100%, 300px);
  }

  .product-details {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
  }
  
  .body {
    padding: 0px;
  }
}
