@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
}

.body {
  max-width: 960px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  gap: 15px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.logo {
  height: 100px;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.nav-menu-item {
  padding: 5px;
  font-size: small;
}

.product-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(minmax(1,auto), 300px);
}

.product {
  position: relative;
}

.product-image {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.product-details {
  position: absolute;
  top: 0;
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  transition: 0.5s;
  opacity: 0;
  gap: 15px;
  padding: 15px;
}

.product div:hover .product-details {
  opacity: 1;
  background-color: #ffffffd0;
}

.product-name {
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.product-price {
  margin: 0;
}

/* PRODUCT PAGE */
.product-back {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.product-product {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.product-product-images-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-featured-image {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.product-product-images {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.product-product-image {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.product-product-details-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.product-product-details-container p {
  margin: 0;
  font-size: smaller;
}

.product-product-title {
  margin: 0;
}

#price {
  margin: 0;
  font-size: 16px;
}

.product-options-action-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: auto;
}

.product-options {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.product-variant {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-variant-select {
  height: 60px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid darkgray;
  font-family: "Montserrat", sans-serif;
}

.product-quantity {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-quantity-input {
  height: 54px;
  width: 60px;
  text-align: center;
  border: 1px solid darkgray;
}

.product-quantity label {
  font-size: smaller;
}

.product-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  border: none;
  min-width: 120px;
  height: 60px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 15px;
}

.cart-heading {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 400;
  margin: 0;
}

.cart-table {
  display: flex;
  flex-direction: column;
}

.cart-table-heading {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  padding-bottom: 15px;
  border-bottom: 1px solid darkgray;
  gap: 30px;
}

.cart-item-heading {
  flex: 6;
}

.cart-original-price-heading {
  flex: 2;
}

.cart-quantity-heading {
  flex: .5;
  text-align: center;
}

.cart-price-heading {
  flex: 2;
  text-align: right;
}

.cart-table-entry {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  align-items: center;
  border-bottom: 1px solid darkgray;
  gap: 30px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  flex: 6;
  align-items: center;
  gap: 30px;
}

.remove-item {
  padding: 10px;
  background-color: white;
/*   border: 1px solid darkgray; */
}

.cart-item-link {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.cart-item-image {
  object-fit: cover;
}

.cart-item-name-variant-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item-name {
  flex: 1;
  font-weight: bolder;
}

.cart-original-price {
  flex: 2;
}

.cart-quantity {
  flex: .5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-quantity-input {
  width: 60px;
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid darkgray;
}

.cart-price {
  flex: 2;
  text-align: right;
}

.cart-subtotal-entry {
  display: flex;
  flex-direction: row;
  padding: 60px 0 0;
}

.cart-subtotal-name {
  flex: 6;
  text-align: right;
}

.cart-subtotal-price {
  flex: 1;
  text-align: right;
}

.cart-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-checkout,
.update-cart {
  align-self: flex-end;
  padding: 22px;
  background-color: black;
  color: white;
  min-width: 200px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border: none;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.update-cart {
  background-color: gray;
  cursor: pointer;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  font-weight: bolder;
}

.empty-cart img {
  padding-right: 60px
}

.empty-cart span {
  font-weight: normal;
}