.mobile-nav-menu {
  display: none;
}

@media only screen and (max-width: 485px) {
  
  .cart {
    gap: 30px;
  }
  
  .cart-heading {
    text-align: center;
  }
  
  .cart-icon {
    right: 20vw;
  }
  
  .cart-table-entry {
    padding: 10px 0;
    gap: 15px;
  }
  
  .cart-item {
    gap: 15px;
  }
  
  .cart-item-link {
    gap: 15px;
  }
  
  .cart-item-image {
    height: 50px;
    width: 50px;
  }
  
  .cart-quantity-input {
    width: 25px;
  }
  
  .nav-alert {
	font-size: smaller;
    padding: 5px;
    position: sticky;
    top: 0;
  }

  .nav {
    top: 42px;
    padding: 5px;
    gap: 5px;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
  }

  .logo {
    height: 60px;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu-mobile {
    margin-left: auto;
  }

  .hamburger-icon {
    display: flex;
    margin-left: auto;
    height: 50px;
    width:50px;
    align-items: center;
    justify-content: center;
    padding: 10px;

  }

  i {
    font-size: 24px;
  }

  .mobile-nav-menu {
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 15px;
  }

  .close-icon {
    align-self: end;
    padding: 10px 30px;
  }

  .mobile-nav-menu-item, .mobile-nav-menu-item-with-children, .mobile-nav-menu-child {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid darkgray;
    padding: 20px 0;
    text-transform: uppercase;
  }

  .mobile-nav-dropdown-container {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .mobile-nav-menu-item-with-children {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*     margin-left: auto; */
  }

  .mobile-nav-menu-item-with-children div {
    margin-left: auto;
  }

  .mobile-nav-menu-item-with-children a {
    /*     margin-left: 20px; */
  }

  .dropdown-icon {
    margin-right: 30px;
    position: absolute;
    right: 15px;
  }



  /* 	BODY */

  .body {
    margin-top: 1vh;
  }

  .section-heading-container {
    margin-top: 15px;
    font-size: smaller;
    justify-content: center;
  }

  .product-grid {
    gap: 30px;
  }

  .product-image {
    height: clamp(150px, 100%, 455px);
    width: clamp(150px, 100%, 455px);
  }

  .product-details {
    position: static;
    opacity: 1;
    gap: 10px;
  }

  .product {
    border: 1px solid darkgray;
  }



  /*   PRODUCT PAGE */
  .product-back {
    padding: 10px;
    margin-bottom: 15px;
  }

  .product-product {
    flex-direction: column;
    padding: 0 15px;
  }

  .product-featured-image {
    height: clamp(150px, 100%, 455px);
    width: clamp(150px, 100%, 455px);
  }

  .product-product-details-container {
    gap: 5px;
  }
  .product-product-details-container ul {
    padding: 20px;
    margin: 0px;
  }

  .product-product-details-container li {
    margin-bottom: 5px;
  }

  .size-guide-container {
    font-size: smaller;
  }

  .product-options {
    width: 100%
  }

  .product-wrist-size {
    width: 20%
  }

  .collection-description {
    flex-direction: column;
    gap: 0;
    margin-bottom: 30px;
  }

  .collection-description li {
    margin-bottom: 5px;
  }

  .product-grid {
    margin-bottom: 60px;
  }



}
