<section class="product-grid">
  {% for product in collections.all-products.products %}
  
  	<a class="product" href="{{ product.url }}">
      <div>
        <img
             src="{{ product | image_url: width: 300 }}"
             alt="Nomad Cuff Timepiece by Sued Watches"
             class="product-image"
             height="300px"
             width="300px"
             />
        <div class="product-details">
          <p class="product-name">{{ product.title }}</p>
          <p class="product-price">{{ product.price | money_with_currency}}</p>
        </div>
      </div>
  	</a>
  
  {% endfor %}
  
</section>
